* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 2px solid rgb(32, 218, 218);
  width: 50%;
  font: 3rem;
  margin: 1.5rem;
  padding: 1.5rem;
}
h1 {
  color: goldenrod;
}

p {
  margin: 1.5rem;
}

ul {
  margin: 2.5rem;
}
